**/node_modules/**
**/uni_modules/**
**/wxcomponents/**
**/unpackage/**
**/build/**
**/dist/**
**/dist-ssr/**
**/dev-dist/**
**/*-sw.js
**/workbox-*.js

# uni-app template initial files
jsconfig.json
