**/public
**/build
**/dist
**/dist-ssr
**/dev-dist

**/*.svg
**/*.ico

.eslintignore
.editorconfig
.gitignore
.prettierignore
.eslintcache

LICENSE
package.json

*.png
*.toml
*.lock

.DS_Store
yarn-error.log
CNAME
