**/uni_modules
**/wxcomponents
**/unpackage
**/public
**/build
**/dist
**/dist-ssr
**/dev-dist

# compatible with uni-app conditional compilation
pages.json

# uni-app template initial files
babel.config.js
jsconfig.json
postcss.config.js
sfc.d.ts
shime-vue.d.ts

**/*.svg
**/*.ico

.eslintignore
.editorconfig
.gitignore
.prettierignore
.eslintcache

LICENSE
package.json

*.png
*.toml
*.lock

.DS_Store
yarn-error.log
CNAME
